In [1]:
import pandas as pd
import numpy as np

In [2]:
results = pd.read_csv("old/knn_results_50.csv")
results

                   doc           obs            pred
0     492830newsML.txt   BradDorfman     BradDorfman
1     494048newsML.txt   BradDorfman     BradDorfman
2     497821newsML.txt   BradDorfman  FumikoFujisaki
3     498878newsML.txt   BradDorfman     BradDorfman
4     499850newsML.txt   BradDorfman    MarkBendeich
...                ...           ...             ...
4711   28223newsML.txt  WilliamKazer    WilliamKazer
4712  282935newsML.txt  WilliamKazer   JaneMacartney
4713  287736newsML.txt  WilliamKazer   JaneMacartney
4714  289747newsML.txt  WilliamKazer    WilliamKazer
4715  304402newsML.txt  WilliamKazer   JaneMacartney

[4716 rows x 3 columns]

In [8]:
accuracy = results.copy()
accuracy['match'] = (accuracy['obs'] == accuracy['pred']) * 1
accuracy['nomatch'] = accuracy['match'] * -1 + 1
accuracy

                   doc           obs            pred  match  nomatch
0     492830newsML.txt   BradDorfman     BradDorfman      1        0
1     494048newsML.txt   BradDorfman     BradDorfman      1        0
2     497821newsML.txt   BradDorfman  FumikoFujisaki      0        1
3     498878newsML.txt   BradDorfman     BradDorfman      1        0
4     499850newsML.txt   BradDorfman    MarkBendeich      0        1
...                ...           ...             ...    ...      ...
4711   28223newsML.txt  WilliamKazer    WilliamKazer      1        0
4712  282935newsML.txt  WilliamKazer   JaneMacartney      0        1
4713  287736newsML.txt  WilliamKazer   JaneMacartney      0        1
4714  289747newsML.txt  WilliamKazer    WilliamKazer      1        0
4715  304402newsML.txt  WilliamKazer   JaneMacartney      0        1

[4716 rows x 5 columns]

In [12]:
hits = accuracy.groupby('obs')['match'].sum().sort_values(ascending=False)
hits

obs
LynnleyBrowning      100
FumikoFujisaki       100
JimGilchrist          98
KarlPenhaul           94
MatthewBunce          94
PeterHumphrey         93
GrahamEarnshaw        92
LynneO'Donnell        88
RogerFillion          87
SimonCowell           86
JoWinterbottom        86
DavidLawder           80
LydiaZajc             80
TheresePoletti        79
HeatherScoffield      76
KouroshKarimkhany     74
NickLouth             73
MartinWolk            71
KeithWeir             69
DarrenSchuettler      68
MarcelMichelson       67
JonathanBirt          63
TimFarrand            63
KirstinRidley         62
PierreTran            61
MarkBendeich          59
KevinMorrison         57
PatriciaCommins       54
MichaelConnor         54
RobinSidel            54
JohnMastrini          53
SamuelPerry           50
JanLopatka            50
JaneMacartney         50
JoeOrtiz              43
SarahDavison          43
MureDickie            36
ToddNissen            31
KevinDrawbaugh        30
ScottHillis           20
AaronPressman         20
EdnaFernandes         18
EricAuchard           17
AlanCrosby            16
BradDorfman           16
WilliamKazer          16
BenjaminKangLim       15
TanEeLyn               5
BernardHickey          2
AlexanderSmith         1
Name: match, dtype: int32

In [22]:
misses = accuracy.groupby('obs')['nomatch'].sum().sort_values(ascending=False)
misses

obs
TanEeLyn             95
WilliamKazer         84
EricAuchard          83
EdnaFernandes        82
ScottHillis          80
KevinDrawbaugh       70
ToddNissen           69
MureDickie           64
JoeOrtiz             57
SarahDavison         57
BradDorfman          50
JanLopatka           50
JaneMacartney        50
SamuelPerry          50
AlexanderSmith       49
BernardHickey        48
JohnMastrini         47
RobinSidel           46
MichaelConnor        46
PatriciaCommins      46
KevinMorrison        43
MarkBendeich         41
PierreTran           39
KirstinRidley        38
JonathanBirt         37
TimFarrand           37
BenjaminKangLim      35
AlanCrosby           34
MarcelMichelson      33
DarrenSchuettler     32
KeithWeir            31
AaronPressman        30
MartinWolk           29
NickLouth            27
KouroshKarimkhany    26
HeatherScoffield     24
TheresePoletti       21
DavidLawder          20
LydiaZajc            20
SimonCowell          14
JoWinterbottom       14
RogerFillion         13
LynneO'Donnell       12
GrahamEarnshaw        8
PeterHumphrey         7
KarlPenhaul           6
MatthewBunce          6
JimGilchrist          2
FumikoFujisaki        0
LynnleyBrowning       0
Name: nomatch, dtype: int32

In [23]:
strikes = accuracy.groupby('pred')['nomatch'].sum().sort_values(ascending=False)
strikes

pred
PeterHumphrey        152
KouroshKarimkhany     86
SimonCowell           84
JaneMacartney         84
DavidLawder           78
KirstinRidley         76
GrahamEarnshaw        74
MartinWolk            71
JoWinterbottom        68
TheresePoletti        67
MureDickie            60
PierreTran            56
MarcelMichelson       50
LynnleyBrowning       49
JohnMastrini          48
JanLopatka            42
TimFarrand            41
DarrenSchuettler      40
FumikoFujisaki        39
WilliamKazer          38
NickLouth             35
LynneO'Donnell        35
RogerFillion          35
JonathanBirt          33
KeithWeir             32
MarkBendeich          31
BenjaminKangLim       31
KevinMorrison         31
MichaelConnor         30
BradDorfman           29
JimGilchrist          28
ToddNissen            26
SarahDavison          25
HeatherScoffield      23
SamuelPerry           23
LydiaZajc             22
EricAuchard           21
ScottHillis           15
RobinSidel            14
JoeOrtiz              13
KarlPenhaul           11
MatthewBunce          10
BernardHickey         10
AlanCrosby             8
KevinDrawbaugh         8
AaronPressman          8
PatriciaCommins        7
TanEeLyn               3
EdnaFernandes          2
AlexanderSmith         0
Name: nomatch, dtype: int32

In [32]:
author_summary = pd.concat([hits, strikes, misses], axis=1)
author_summary = author_summary.reset_index()
author_summary.columns = ['author', 'hits', 'strikes', 'misses']
author_summary['precision'] = author_summary['hits'] / (author_summary['hits'] + author_summary['strikes'])
author_summary['recall'] = author_summary['hits'] / (author_summary['hits'] + author_summary['misses'])
author_summary['f1'] = 2 / (1 / author_summary['precision'] + 1 / author_summary['recall'])
author_summary

               author  hits  strikes  misses  precision    recall        f1
0     LynnleyBrowning   100       49       0   0.671141  1.000000  0.803213
1      FumikoFujisaki   100       39       0   0.719424  1.000000  0.836820
2        JimGilchrist    98       28       2   0.777778  0.980000  0.867257
3         KarlPenhaul    94       11       6   0.895238  0.940000  0.917073
4        MatthewBunce    94       10       6   0.903846  0.940000  0.921569
5       PeterHumphrey    93      152       7   0.379592  0.930000  0.539130
6      GrahamEarnshaw    92       74       8   0.554217  0.920000  0.691729
7      LynneO'Donnell    88       35      12   0.715447  0.880000  0.789238
8        RogerFillion    87       35      13   0.713115  0.870000  0.783784
9         SimonCowell    86       84      14   0.505882  0.860000  0.637037
10     JoWinterbottom    86       68      14   0.558442  0.860000  0.677165
11        DavidLawder    80       78      20   0.506329  0.800000  0.620155
12          LydiaZajc    80       22      20   0.784314  0.800000  0.792079
13     TheresePoletti    79       67      21   0.541096  0.790000  0.642276
14   HeatherScoffield    76       23      24   0.767677  0.760000  0.763819
15  KouroshKarimkhany    74       86      26   0.462500  0.740000  0.569231
16          NickLouth    73       35      27   0.675926  0.730000  0.701923
17         MartinWolk    71       71      29   0.500000  0.710000  0.586777
18          KeithWeir    69       32      31   0.683168  0.690000  0.686567
19   DarrenSchuettler    68       40      32   0.629630  0.680000  0.653846
20    MarcelMichelson    67       50      33   0.572650  0.670000  0.617512
21       JonathanBirt    63       33      37   0.656250  0.630000  0.642857
22         TimFarrand    63       41      37   0.605769  0.630000  0.617647
23      KirstinRidley    62       76      38   0.449275  0.620000  0.521008
24         PierreTran    61       56      39   0.521368  0.610000  0.562212
25       MarkBendeich    59       31      41   0.655556  0.590000  0.621053
26      KevinMorrison    57       31      43   0.647727  0.570000  0.606383
27    PatriciaCommins    54        7      46   0.885246  0.540000  0.670807
28      MichaelConnor    54       30      46   0.642857  0.540000  0.586957
29         RobinSidel    54       14      46   0.794118  0.540000  0.642857
30       JohnMastrini    53       48      47   0.524752  0.530000  0.527363
31        SamuelPerry    50       23      50   0.684932  0.500000  0.578035
32         JanLopatka    50       42      50   0.543478  0.500000  0.520833
33      JaneMacartney    50       84      50   0.373134  0.500000  0.427350
34           JoeOrtiz    43       13      57   0.767857  0.430000  0.551282
35       SarahDavison    43       25      57   0.632353  0.430000  0.511905
36         MureDickie    36       60      64   0.375000  0.360000  0.367347
37         ToddNissen    31       26      69   0.543860  0.310000  0.394904
38     KevinDrawbaugh    30        8      70   0.789474  0.300000  0.434783
39        ScottHillis    20       15      80   0.571429  0.200000  0.296296
40      AaronPressman    20        8      30   0.714286  0.400000  0.512821
41      EdnaFernandes    18        2      82   0.900000  0.180000  0.300000
42        EricAuchard    17       21      83   0.447368  0.170000  0.246377
43         AlanCrosby    16        8      34   0.666667  0.320000  0.432432
44        BradDorfman    16       29      50   0.355556  0.242424  0.288288
45       WilliamKazer    16       38      84   0.296296  0.160000  0.207792
46    BenjaminKangLim    15       31      35   0.326087  0.300000  0.312500
47           TanEeLyn     5        3      95   0.625000  0.050000  0.092593
48      BernardHickey     2       10      48   0.166667  0.040000  0.064516
49     AlexanderSmith     1        0      49   1.000000  0.020000  0.039216

In [33]:
hits.sum() / (hits.sum() + misses.sum())

0.5966921119592875

In [35]:
hits.sum(), strikes.sum()

(2814, 1902)