In [1]:
import pandas as pd
import induceC45

In [11]:
pd.read_csv('data/heart.csv')

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,0,2,4,0.0,0.0,2.0,3,0.0,2,0.0,3,2.0
1,HeartDisease,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,40,M,ATA,140.0,289.0,0.0,Normal,172.0,N,0.0,Up,0.0
3,49,F,NAP,160.0,180.0,0.0,Normal,156.0,N,1.0,Flat,1.0
4,37,M,ATA,130.0,283.0,0.0,ST,98.0,N,0.0,Up,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
915,45,M,TA,110.0,264.0,0.0,Normal,132.0,N,1.2,Flat,1.0
916,68,M,ASY,144.0,193.0,1.0,Normal,141.0,N,3.4,Flat,1.0
917,57,M,ASY,130.0,131.0,0.0,Normal,115.0,Y,1.2,Flat,1.0
918,57,F,ATA,130.0,236.0,0.0,LVH,174.0,N,0.0,Flat,1.0
919,38,M,NAP,138.0,175.0,0.0,Normal,173.0,N,0.0,Up,0.0

In [5]:
heart = pd.read_csv('data/heart.csv', skiprows=[1, 2], header=0)
heart

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [7]:
C = heart['HeartDisease']
D = heart.drop('HeartDisease', axis=1)

induceC45.findBestSplit('Age', D, C)

40

In [8]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [9]:
pd.api.types.is_numeric_dtype(D['Age'])

True

In [10]:
pd.api.types.is_object_dtype(D['Age'])

False